@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <p class="btn btn-success">Nguyễn Quang Thành</p>
    <div class="container-fluid">
        <img src="image/anh-gif-2-min.gif" alt="">
    </div>
</div>